@model ControllerCinco.Models.Cinco
@{
    ViewData["Title"] = "Suma";
}

<h2>Suma</h2>

<p>
    @Html.ViewContext.RouteData.Values["id"].ToString()
    + 5 = 
    @ViewBag.MyResult
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
